{
    "extends": ["plugin:prettier/recommended", "react-app"],
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "no-undef": "off",
        "prettier/prettier": "off",
        "no-unused-vars": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"]
        }
    ]
}
