html,
body {
    margin: 0;
    padding: 0;
    overflow: initial !important;
}

body {
    background-color: #efefef;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(67, 67, 67);
    --primary-dark: rgb(57, 57, 57);
    --primary-light: rgb(125, 125, 125);
    --text: rgb(173, 173, 173);
    --text-light: rgb(255, 255, 255);
    --background: rgb(255, 255, 255);
}
